[submodule "bonds-frontend"]
	path = bonds-frontend
	url = https://github.com/zeprincelini/bonds-frontend.git
[submodule "bonds-backend"]
	path = bonds-backend
	url = https://github.com/zeprincelini/bonds-backend.git
